<section>

	<form>
		<div>
			<label for="email">Email</label>
			<input type="email" name="email" id="email" placeholder="Email" />
		</div>
		<div>
			<label for="password">Password</label>
			<input type="password" name="password" id="password" placeholder="Password" />
		</div>
		<div>
			<label for="confirm-password">Confirm Password</label>
			<input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" />
		</div>
		<div>
			<input type="submit" name="submit" value="Sign Up" />
		</div>
	</form>

</section>