<section>

	<form>
		<h1>clique</h1>
		<div class="form-group">
			<label for="email" class="control-label">Email</label>
			<input type="email" name="email" id="email" placeholder="Email" class="form-control" />
		</div>
		<div class="form-group">
			<label for="password" class="control-label">Password</label>
			<input type="password" name="password" id="password" placeholder="Password" class="form-control" />
		</div>
		<div class="form-group">
			<label for="confirm-password" class="control-label">Confirm Password</label>
			<input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" class="form-control" />
		</div>
		<div class="form-group">
			<input class="btn btn-primary" type="submit" name="submit" value="Sign Up" />
		</div>
	</form>

</section>