<html>
	<head>
		<title>clique - admin</title>
		<base href='/'>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />
		<link href='/lib/bootstrap/bootstrap-3.3.2/dist/css/bootstrap.css' rel='stylesheet' type='text/css' />
		<link href='/modules/admin/css/setup.css' rel='stylesheet' type='text/css' />
	</head>
	<body>